.details-section {
  align-items: center;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  height: 73vh;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  margin: 0 auto 0 auto;
}

.item-details-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vw;
}

.item-details {
  background-color: #b8c0ff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 14px;
  height: 2.5vh;
  margin: 2px;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  width: 38vw;
  overflow: auto;
}

.item-details:hover {
  background-color: #c8b6ff;
  color: #2a2a2a;
}

.details-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
  width: 100vw;
}

.details-edit-button,
.details-list-button,
.details-delete-button,
.add-button {
  background-color: #b8c0ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  height: 5vh;
  margin: 4px;
  padding: 2px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 30vw;
}

.details-image {
  height: 30vh;
  width: 50vw;
}

.item-notes {
  border: 1px solid rgb(50, 49, 49);
  border-radius: 8px;
  font-size: 16px;
  height: 10vh;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 65vw;
  text-align: center;
  padding: 5px 0 5px 0;
}

.notes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 65vw;
}

.item-notes-header {
  font-size: 16px;
  margin: 0;
}

.details-navlink {
  text-decoration: none; 
}

.item-link,
.edit-link {
  text-decoration: none;
}

.details-list-dropdown {
  height: 5vh;
  font-size: 13px;
}

.add-to-list-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1vw;
}

.edit-delete-container {
  width: 65vw;
  display: flex;
  margin-bottom: 15vh;
}

.cal {
  text-align: center;
  width: 70vw;
  padding: 0;
}

.cal-text {
  margin-top: 8px;
}

input {
  text-align: center;
  width: 35vw;
  align-self: center;
  margin: 1vw;
}

.react-datepicker__month-container {
  background-color: rgb(227, 223, 223);
  position: absolute;
  z-index: 5;
}

.fa-heart {
  font-size: 3vh;
  margin-bottom: 1vh;
  padding: 5px;
  z-index: 3;
}

.image-and-favorite-container {
  display: flex;
  flex-direction: column;
}

.favorite-background {
  width: 50vw;
  margin-top: -5%;
  height: 4vh;
  z-index: 2;
  background-color: rgb(221, 221, 238);
}

@media (max-width: 335px) {
  .react-datepicker__month-container {
    position: static;
  }
}

@media (min-width: 500px) {
  .details-image {
    height: 40vh;
    width: 40vw;
  }

  .favorite-background {
    width: 40vw;
  }
}

@media (min-width: 1000px) {
  .details-image {
    height: 45vh;
    width: 30vw;
  }

  .favorite-background {
    width: 30vw;
  }
}