
.cal-view {
  height: 80vh;
  width: 40vw;
  overflow-x: hidden;
  margin: 3vh auto 0 auto;
}

.react-datepicker__month-container {
  width: 40vw;
  margin: 0 auto 0 auto;
}

.react-datepicker__week {
  height: 7vh;
  font-size: 15px;
}

.react-datepicker__month-container,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--highlighted {
  cursor: pointer;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  display: hidden;
  padding: 0;
  margin: 0;
}

.react-datepicker__day--highlighted {
  background-color: #c8b6ff !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit !important;
  color: inherit !important;
}