
.react-datepicker__month-container {
  width: 100vw;
  margin-top: -4vh;
  margin-right: auto;
  margin-left: auto;
}

.react-datepicker__month-container,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--highlighted {
  cursor: pointer;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  display: hidden;
  padding: 0;
  margin: 0;
}

.react-datepicker__day--highlighted {
  background-color: #c8b6ff !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit !important;
  color: inherit !important;
}