.card-grid {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 17%;
}
 
.delete-list-button {
  background-color: #BBD0FF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 4vw;
  transition: all 0.2s ease-in-out;
  width: 150px;
  padding: 2px;
  height: 4vh;
}

.remove-from-list {
  display: flex;
  width: 150px;
  background-color: rgb(221, 221, 238);
  border-radius: 4px;
  margin-bottom: -30px;
  position: relative;
  justify-content: space-between;
}

.list-created {
  margin-top: 10vh;
  margin-bottom: 3vh;
}

.list-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 32vh;
  justify-content: flex-end;
}

.list-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: 2vh;
  height: 10vh;
}

.remove-item-text {
  font-size: 13px;
}

.list-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 767px) {
  .card h3 {
    font-size: 1rem;
    margin: 0.5rem;
  }

  .card p {
    font-size: 0.875rem;
    margin: 0.5rem;
  }

  .card button {
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
}

@media (min-width: 1200px) {
  .card h3 {
    font-size: 1.5rem;
    margin: 1.5rem;
  }

  .card p {
    font-size: 1.125rem;
    margin: 1.5rem;
  }

  .card button {
    margin: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
  }
}
