.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  padding-bottom: 17%;
}

.form-title {
  margin-top: 50%;
  margin-bottom: 0%;
}

p {
  margin: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  height: 35vh; 
  margin-top: 15%;
  text-align: center;
  width: 50vw;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 25%;
  width: 50vw;
}

.image-preview {
  height: 140px;
  margin-bottom: 5%;
  width: 200px; 
}

.dropdown,
.size-input,
.notes-input {
  cursor: pointer;
  margin-bottom: 3%;
  margin-top: 3%;
}

.upload-container {
  margin-bottom: 5%;
}

.notes-box {
  cursor: text;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10%;
  width: 180px;
}

.form-button-add,
.form-button-clear {
  background-color: #b8c0ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10%;
  width: 50vw;
}

.form-button-clear {
  font-size: 16px;
  height: 4.5vh;
}

.size-input {
  width: 180px; 
}

p {
  margin: 0;
}