.closet-container {
  height: 60vh;
}

#filter {
  background-color: #bbd0ff;
  margin: 8px 0 2px 0;
  width: 100%;
}

.cards-container {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 17%;
}

h2 {
  height: 5vh;
  text-align: center;
}

.filter-button {
  background-color: #b8c0ff;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  color: #2a2a2a;
}

#filter--clothing-type,
#filter--color,
#filter--season,
#filter--favorite {
  background-color: #bbd0ff;
  color: #2a2a2a;
  cursor: pointer;
  text-align: center;
  align-items: center;
  padding: 2px 0 2px 0;
  font-size: 12px;
  width: 25%;
  border: .25px solid rgb(135, 132, 132);
}

.closet-loader {
  margin-left: 35%;
  margin-top: 30%;
}

.error-text {
  font-size: 20px;
  margin-left: 30%;
  margin-top: 30%;
}