.item-not-found {
  align-items: center;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
}

.item-not-found-btn {
  background-color: #bbd0ff;
  color: #2a2a2a;
  font-size: 16px;
  height: 5vh;
  margin-top: 15%;
  width: 45vw;
}

.empty-closet-image {
  height: 50vh;
  width: 80vw;
}